<div class="banner-flex banner1" id="banner1">
  <div class="banner1-content">
    <h1>BELLE</h1>
    <p>LA NOUVELLE EAU DE PARFUM</p>
    <img style="height: 60%;" src="http://res.cloudinary.com/dgmpokhth/image/upload/v1510768582/flacon_v5u5e7.png">
  </div>
</div>

<div class="banner1-bis" id="banner1-bis">
  <div class="banner1-bis-cover">
    <img src="http://res.cloudinary.com/dgmpokhth/image/upload/v1510768819/bandeau-multifemmes_sr172m.png">
  </div>
  <div class="banner1-bis-text-container">
    <p style="padding:3%">BELLE, le nouveau parfum féminin par Dior, est celui des femmes, <span style="color:rgb(196,59,79)">les vraies</span> : pas la femme fatale qui court en talons aiguille, ni la femme-enfant qui s’ennamourache du premier venu. La femme BELLE n’est pas dans la séduction : <span style="color:rgb(196,59,79)">elle EST</span>.
    </p>
    <p style="padding:3%">Elle est à la fois forte et fragile, battante et drôle, féminine et féministe, à l’image de la <span style="color:rgb(196,59,79)">femme Dior</span> réinventée par Maria Grazia Chiuri, la directrice artistique de la Maison.
    </p>
    <p style="padding:3%">Refusant de rentrer dans une case, elle a mille visages : amie, amante, femme active, sérieuse, décalée, engagée, enragée.

    Belle et unique, tout simplement.
    </p>
  </div>
</div>

<div class="banner1-bis2">
  <div class="text-container">
    <h1>BELLE, LA FEMME AUX <span style="color:rgb(196,59,79)">MILLE VISAGES</span></h1>
  </div>
  <img src="http://res.cloudinary.com/dgmpokhth/image/upload/v1510769566/Diapositive1_zzcg24.jpg">
</div>

<%=render 'shared/slideshow'%>

<div class="banner1-bis3">

  <div class="text-container">
    <img style="width: 200px;" src="http://res.cloudinary.com/dgmpokhth/image/upload/v1510772540/rosedessables_liyylx.png">
    <h1>LA <span style="color:rgb(196,59,79)">ROSE DES VENTS</span>,</h1>
    <h1>LE SYMBOLE BELLE</h1>
    <p>Pierre angulaire de la collection joaillère éponyme réalisée par Victoire de Castellane pour Dior, reprise pour symboliser l’esprit BELLE, la Rose des Vents est le signe de ralliement des femmes sûres d’elles, qui savent d’où elles viennent et où elles vont.</p>
  </div>
</div>

<div class="banner2" id="le-film">
  <div class="text-container">
    <h1>LE FILM <span style="color:rgb(196,59,79)">BELLE</span></h1>
    <p>La première campagne BELLE est un éventail explosif des mille et unes facettes de la sublime Ruth Bell. Sincère, touchante, balançant entre force et sensibilité extrême, elle se met à nu, pour un portrait…détonnant !
    </p>
  </div>
  <img src="http://res.cloudinary.com/dgmpokhth/image/upload/v1510773253/videoclip_qthskk.jpg">
</div>

<div class="banner-flex banner2-bis">
  <div class="text-container">
    <h1>L'ÉGÉRIE : RUTH BELL</h1>
  </div>
</div>

<div class="banner-flex banner2-bis2">
  <div class="text-container">
    <h2>RUTH BELL: REMEMBER HER NAME</h2>
    <p>Le mannequin britannique de 21 ans, qui plus jeune se rêvait pilote d’hélicoptère, incarne aujourd’hui la <span style="color:rgb(196,59,79)">femme BELLE</span> aux mille visages. Repérée à l’âge de 15 ans avec sa sœur jumelle May Bell, sa carrière décolle lorsqu’elle se <span style="color:rgb(196,59,79)">rase le crâne</span> pour les besoins d’une campagne Alexander McQueen.

    Aujourd’hui, elle est à l’image de la nouvelle fragrance Dior : forte, drôle, tomboy et pourtant si féminine, elle <span style="color:rgb(196,59,79)">sait qui elle est </span>et joue avec la mode pour le révéler.
  </p>
  <p style="text-align: right;">Le meilleur conseil qu’elle ait reçu :</p>
  <p style="text-align: right; font-style: italic;">"Ma mère m'a dit un jour que je rencontrerai le succès dans ma carrière professionnelle qu'après avoir fait la paix avec moi-même et me sentir bien et en phase avec le monde. Sinon, on se ment à soi-même et c'est la pire chose à faire.''
  </p>
  </div>
</div>

<div class="banner2">
  <div class="text-container">
    <h1 style="color:rgb(196,59,79);">REJOIGNEZ LE DIORSELF MOVEMENT !</h1>
  </div>
  <img src="http://res.cloudinary.com/dgmpokhth/image/upload/v1510776288/how_people_a74evr.jpg">
</div>

<div class="banner-flex banner2-bis4">
  <div class="text-container">
    <div class="hashtag"><h1> #DIORSELFMOVEMENT </h1></div>
    <br>
    <h2>VOULEZ-VOUS ÊTRE PARFAIT, OU VOUS-MÊME ?</h2>
    <p>VOULEZ-VOUS ÊTRE PARFAIT, OU VOUS-MÊME?

    Révélez votre univers et rejoignez le DiorSelf Movement en partageant le plus de facettes de votre personnalité possibles.Pour chaque post @DIORPARFUMS donnera $1 à l'association @FEMMES-SOLIDAIRES en partenariat avec Ruth Bell. N'oubliez pas de nommer vos proches pour aider Ruth à construire le DiorSelf Movement.
    </p>
    <p>Plus d’informations sur l’association : <a href="https://www.femmes-solidaires.org/?Nous-sommes">https://www.femmes-solidaires.org/?Nous-sommes</a></p>
  </div>
</div>

<div class="banner-flex banner3" id="le-jus">
    <div class="text-container">
    <h1>LA FRAGRANCE</h1>
  </div>
</div>

<div class="banner-flex banner4" id="le-vapo">
  <div style="margin-left: 100px;">
    <img src="http://res.cloudinary.com/dgmpokhth/image/upload/v1510768582/flacon_v5u5e7.png">
  </div>
  <div class="text-container" >
    <div class="buttons-container">
      <div class="btn-vapo-dropdown btn-group">
        <button type="button" class="btn btn-danger vapo-selection">VAPO. 100ML - 124,50€</button>
        <button type="button" class="btn btn-danger dropdown-toggle vapo-selector" data-toggle="dropdown">
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu vapo-list" role="menu">
          <li><a href="#">VAPO. 150ML - 168,50€</a></li>
          <li><a href="#">VAPO. 100ML - 124,50€</a></li>
          <li><a href="#">VAPO. 50ML - 86,50€</a></li>
          <li><a href="#">VAPO. 30ML - 62,50€</a></li>
        </ul>
      </div>
      <div class="btn-buy btn-group">
        <button type="button" class="btn btn-danger full-width">Get it now</button>
      </div>
    </div>
    <div class="perfume-description">
      <p>La nouvelle eau de parfum Miss Dior se réinvente autour d’une rose fraîche et sensuelle surpiquée de bois de rose.
      </p>
    </div>
    <br><br><br><br>
    <div class="en-savoir-plus">
      <p>EN SAVOIR PLUS</p>
    </div>
  </div>
</div>

<div class="banner-flex banner4-bis">
  <div class="text-container">
    <h1 style="color: black; text-align:right;padding-right: 40px;">LA NOUVELLE</h1>
    <h1 style="text-align:right;padding-right: 40px;">ÔDE À LA LIBERTÉ</h1>
    <h1 style="color: black;text-align:right;padding-right: 40px;">DE DIOR</h1>
    <h2>RACÉE ET DÉLICATE</h2>
    <p>La nouvelle fragrance signée par François Demachy se révèle présente mais pas entêtante : un parfum avec lequel on a envie de vivre pleinement sa féminité, quelle qu’elle soit, et qui en révèle toute les facettes.
    </p>
    <h2>MODERNE ET ÉTONNANT</h2>
    <p>Il allie savamment notes féminines et masculines : accords boisées, fleur d’oranger et notes cuirées, pour un résultat à la fois complexe et naturel.

    Loin des classiques de la parfumerie féminine, le nouveau parfum BELLE est à l’image des <span style="color:rgb(196,59,79)">femmes d’aujourd’hui</span>, puissantes et ambivalentes, et reste fidèle aux codes de la Maison Dior, de par son incroyable modernité, son élégance et son lien fondamental avec la Couture.
    </p>
  </div>
</div>

<div class="banner-flex banner4-bis2">
  <div class="text-container">
    <h2>LE FLACON</h2>
    <p>Une bouteille à <span style="color:rgb(196,59,79)">l’élégance simple</span> et aux lignes harmonieuse.</p>
    <p>Pensée pour <span style="color:rgb(196,59,79)">accompagner les femmes</span> au quotidien, elle tient bien en main, même en grand format, grâce à sa forme idéale, entre le rectangle et l’ovale.</p>
    <p>Un capot-bijou, s’inspirant de la collection de <span style="color:rgb(196,59,79)">Victoire de Castellane</span>. Un médaillon-boussole, pour des femmes qui savent où elles vont.</p>
    <p>Grâce à subtil jeu de transparence en dégradé, le flacon révèle un jus à la couleur cristalline.</p>
  </div>
</div>

<div class="banner-flex banner5" id="la-campagne">
    <div class="text-container">
    <h1>LA CAMPAGNE</h1>
  </div>
</div>

<div class="banner-flex banner5-bis">
  <div class="text-container">
    <h1><span style="color:black;">LA NOUVELLE CAMPAGNE</span> BELLE</h1>
    <p>Pour la première campagne BELLE, la Maison Dior a eu la chance de collaborer avec le célèbre photographe <span style="color:rgb(196,59,79)">Matthew Brookes</span>. Célèbre pour ses portraits forts en noir et blanc, il a également réalisé une série de photos sur la question du genre.</p>
    <p>Son style sobre et authentique, balançant entre puissance et émotions, se révèle en parfaite adéquation avec l’esprit BELLE pour capter les mille et un visages de la sublime Ruth.</p>
    <p>Retrouvez son univers ici : <a href="http://www.mixtemagazine.com/article/le-photographe-de-mode-matthew-brookes-pose-la-question-du-genre">http://www.mixtemagazine.com/article/le-photographe-de-mode-matthew-brookes-pose-la-question-du-genre</a>
    <a href="http://www.clm-agency.com/photography/matthew-brookes/">http://www.clm-agency.com/photography/matthew-brookes/</a></p>
  </div>
</div>

<div class="banner-flex banner6">
  <div class="text-container">
    <h1><span style="color:white;">L'ÉCHAPPÉE</span> BELLE</h1>
  </div>
</div>

<div class="banner6-bis">
  <div class="text-container">
    <h1>PLONGEZ DANS L’EXPÉRIENCE <span style="color:rgb(196,59,79)">BELLE </span>PAR DIOR</h1>
    <p>Quand chaque point de vente BELLE se fait l’occasion d’un voyage intérieur.</p>
  </div>
  <div class="text-container2">
    <p style="text-align:left;">Fidèle à son esprit couture de la Maison et à la passion de Monsieur Dior pour les fleurs, l’écrin renfermant la nouvelle Eau de Parfum BELLE s’ouvre comme un <span style="color:rgb(196,59,79)">jardin irréel</span>.</p>
    <p style="text-align:right;">Des <span style="color:rgb(196,59,79)">fleurs de plumes</span> immaculées tapissent harmonieusement les façades, habillent les escaliers et ornent les plafonds.</p>
    <p style="text-align:center;">Formant une dentelle délicate, elles symbolisent la <span style="color:rgb(196,59,79)">douceur</span> présente en chacune, nuancée par un puissant <span style="color:rgb(196,59,79)">désir de liberté</span>.</p>
  </div>
</div>

<div class="banner6-bis2">
    <div class="text-container">
    <p style="padding-top: 10%;">À l’intérieur, un étonnant jeu de miroir renvoie la lumière à l’infini tel un diamant. </p>
    <p style="padding-top: 38%;">Cet éventail de verre mobile tour à tour cache, révèle et se transforme au gré de votre promenade, vous embrassant dans votre globalité d’un seul regard.</p>
  </div>
</div>

<div class="banner6-bis3">
  <div class="text-container">
    <p>D’imposantes lettres de<span style="color:rgb(196,59,79)"> cuir bordeaux </span>viennent signer le tout, tranchant dans la pureté de ce décor épuré, tel un éclat de rire dans le silence.</p>
  </div>
</div>
