<div class="banner-flex banner1" id="banner1">
  <div class="banner1-content">
    <h1>BELLE</h1>
    <p>LA NOUVELLE EAU DE PARFUM</p>
  </div>
</div>

<div class="banner1-bis" id="banner1-bis">
  <div class="banner1-bis-cover">
    <img src="http://res.cloudinary.com/dgmpokhth/image/upload/v1510681839/bandeau-multifemmes_fvmorn.png">
  </div>
  <div class="banner1-bis-text-container">
    <p style="padding:3%">BELLE, le nouveau parfum féminin par Dior, est celui des femmes, les vraies : pas la femme fatale qui court en talons aiguille, ni la femme-enfant qui s’ennamourache du premier venu. La femme BELLE n’est pas dans la séduction : elle EST.
    </p>
    <p style="padding:3%">Elle est à la fois forte et fragile, battante et drôle, féminine et féministe, à l’image de la femme Dior réinventée par Maria Grazia Chiuri, la directrice artistique de la Maison.
    </p>
    <p style="padding:3%">Refusant de rentrer dans une case, elle a mille visages : amie, amante, femme active, sérieuse, décalée, engagée, enragée.

    Belle et unique, tout simplement.
    </p>
  </div>
</div>

<%=render 'shared/slideshow'%>

<div class="banner-flex banner2" id="le-film">
  <div class="banner2-content">
    <h2>LE FILM DE BABOU</h2>
    <p>Blabla bla bla blabla blabla Harendir blabla bla</p>
    <div class="video-container">
      <iframe class="video" src="https://www.youtube.com/embed/j1AmzscPFq4" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>
</div>

<div class="banner-flex banner3" id="le-jus">
  <div class="banner3-content">
    <h1>LE JUS</h1>
  </div>
</div>

<div class="banner-flex banner4" id="le-vapo">
  <div class="banner4-content" >
    <h2>MISS BABOU,</h2>
    <h2>LA NOUVELLE</h2>
    <h2>EAU DE PARFUM</h2>
    <h2 style="color:red">(HARDCORE)</h2>
    <br>
    <div class="buttons-container">
      <div class="btn-vapo-dropdown btn-group">
        <button type="button" class="btn btn-danger vapo-selection">VAPO. 100ML - 124,50€</button>
        <button type="button" class="btn btn-danger dropdown-toggle vapo-selector" data-toggle="dropdown">
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu vapo-list" role="menu">
          <li><a href="#">VAPO. 150ML - 168,50€</a></li>
          <li><a href="#">VAPO. 100ML - 124,50€</a></li>
          <li><a href="#">VAPO. 50ML - 86,50€</a></li>
          <li><a href="#">VAPO. 30ML - 62,50€</a></li>
        </ul>
      </div>
      <div class="btn-buy btn-group">
        <button type="button" class="btn btn-danger full-width">Get it now</button>
      </div>
    </div>
    <div class="perfume-description">
      <p>La nouvelle eau de parfum Miss Dior se réinvente autour d’une rose fraîche et sensuelle surpiquée de bois de rose.
      </p>
    </div>
    <br><br><br><br>
    <div class="en-savoir-plus">
      <p>EN SAVOIR PLUS</p>
    </div>

  </div>
</div>

<div class="banner-flex banner5" id="la-campagne">
  <div class="banner5-content">
    <h1>LA CAMPAGNE</h1>
  </div>

</div>
