<div class="banner banner1" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('http://cdn1-elle.ladmedia.fr/var/plain_site/storage/images/people/la-vie-des-people/news/pourquoi-ryan-gosling-a-refuse-le-titre-d-homme-le-plus-sexy-2862932/51600194-1-fre-FR/Pourquoi-Ryan-Gosling-a-refuse-le-titre-d-homme-le-plus-sexy.jpg');">
  <div class="banner1-content">
    <div class="banner1-logo">
      <h1>
        L'odeur de mes pieds. En mieux.
      </h1>
    </div>
    <h1>Le Nouveau Parfum de Babou</h1>
    <p>Découvrez pourquoi Ryan l'aime tant</p>
    <a class="btn btn-primary btn-lg">*Pshiit*</a>
  </div>
</div>

<div class="banner banner2">
  <div class="banner2-content">
    <h2>LE FILM DE BABOU</h2>
    <p>Blabla bla bla blabla blabla Harendir blabla bla</p>
    <div class="video-container">
      <iframe class="video" src="https://www.youtube.com/embed/j1AmzscPFq4" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>
</div>

<div class="banner">
  <div class="banner3" style="background-image: url('https://guide.alibaba.com/image/i1/18867031102589886/delicate-skull-410ml-bottle-creative-skull-skull-bottle-wine-brewed-wine-bottle-with-a-bottle-of-sparkling-wine/T1FCIgFkJXXXXXXXXX_!!0-item_pic.jpg');">
  </div>
  <div class="banner3-content">
    <h2>MISS BABOU,</h2>
    <h2>LA NOUVELLE EAU DE PARFUM</h2>
    <h2>(HARDCORE)</h2>
  </div>
</div>
