<div class="banner-flex banner1">
  <div class="banner1-content">
    <h1>L'odeur de mes pieds. En mieux.</h1>
    <h1>Le Nouveau Parfum de Babou</h1>
    <p>Découvrez pourquoi Ryan l'aime tant</p>
    <a class="btn btn-primary btn-lg">*Pshiit*</a>
  </div>
</div>

<div class="banner-flex banner2">
  <div class="banner2-content">
    <h2>LE FILM DE BABOU</h2>
    <p>Blabla bla bla blabla blabla Harendir blabla bla</p>
    <div class="video-container">
      <iframe class="video" src="https://www.youtube.com/embed/j1AmzscPFq4" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>
</div>

<div class="banner-flex banner3">
  <div class="banner3-content">
    <h1>LE JUS</h1>
  </div>
</div>

<div class="banner-flex banner4">
  <div class="banner4-content" >
    <h2>MISS BABOU,</h2>
    <h2>LA NOUVELLE</h2>
    <h2>EAU DE PARFUM</h2>
    <h2 style="color:red">(HARDCORE)</h2>
    <div class="container">
      <div class="btn-group">
        <button type="button" class="btn btn-primary">Sony</button>
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li><a href="#">Tablet</a></li>
          <li><a href="#">Smartphone</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="banner-flex banner5">
  <div class="banner5-content">
    <h1>LA CAMPAGNE</h1>
  </div>

</div>
