<div class="navbar-wagon-item hidden-xs hidden-sm hidden" id="dropdown">
  <div class="dropdown">
    <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
    <ul class="dropdown-menu dropdown-menu-left navbar-wagon-dropdown-menu">
      <li><a href="#">Le film</a></li>
      <li><a href="#">Le jus</a></li>
      <li><a href="#">Le flacon</a></li>
      <li><a href="#">La campagne</a></li>
    </ul>
  </div>
</div>
