<div class="banner1-slideshow">

  <div data-am-fadeshow="next-prev-navigation">

    <!-- Radio -->
    <input type="radio" name="css-fadeshow" id="slide-1" />
    <input type="radio" name="css-fadeshow" id="slide-2" />
    <input type="radio" name="css-fadeshow" id="slide-3" />

    <!-- Slides -->
    <div class="fs-slides">
      <div class="fs-slide" style="background-image: url(http://res.cloudinary.com/dgmpokhth/image/upload/v1510681220/femme-libre_u9vwko.jpg);">
        <!-- Add content to images (sample) -->
        <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); color: white; text-align: center; text-shadow: 0 0 20px rgba(0,0,0,0.5);">
          <h1 style="margin-top: 0; margin-bottom: 0.8vw; font-size: 5vw; font-weight: bold;"><span style="color:black">FEMME</span><span style="color:rgb(196,59,79);"> LIBRE</span></h1>
        </div>
      </div>
      <div class="fs-slide" style="background-image: url(http://res.cloudinary.com/dgmpokhth/image/upload/v1510681220/femme-fun_wzamrb.jpg);">
        <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); color: white; text-align: center; text-shadow: 0 0 20px rgba(0,0,0,0.5);">
          <h1 style="margin-top: 0; margin-bottom: 0.8vw; font-size: 5vw; font-weight: bold;"><span style="color:black">FEMME</span><span style="color:rgb(196,59,79);"> FUN</span></h1>
        </div>
      </div>
      <div class="fs-slide" style="background-image: url(http://res.cloudinary.com/dgmpokhth/image/upload/v1510681220/femme-forte_quvooo.jpg);">
        <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); color: white; text-align: center; text-shadow: 0 0 20px rgba(0,0,0,0.5);">
          <h1 style="margin-top: 0; margin-bottom: 0.8vw; font-size: 5vw; font-weight: bold;"><span style="color:black">FEMME</span><span style="color:rgb(196,59,79);"> FORTE</span></h1>
        </div>
      </div>
    </div>

    <!-- Quick Navigation -->
    <div class="fs-quick-nav">
      <label class="fs-quick-btn" for="slide-1"></label>
      <label class="fs-quick-btn" for="slide-2"></label>
      <label class="fs-quick-btn" for="slide-3"></label>
    </div>

    <!-- Prev Navigation -->
    <div class="fs-prev-nav">
      <label class="fs-prev-btn" for="slide-1"></label>
      <label class="fs-prev-btn" for="slide-2"></label>
      <label class="fs-prev-btn" for="slide-3"></label>
    </div>

    <!-- Next Navigation -->
    <div class="fs-next-nav">
      <label class="fs-next-btn" for="slide-1"></label>
      <label class="fs-next-btn" for="slide-2"></label>
      <label class="fs-next-btn" for="slide-3"></label>
    </div>

  </div>

</div>
