<div class="tabs_hidden" id="tabs">
  <a class="tab active" href="#le-film">
    <p>Le film</p>
  </a>
  <a class="tab" href="#le-jus">
    <p>Le jus</p>
  </a>
  <a class="tab" href="#le-vapo">
    <p>Le vapo</p>
  </a>
  <a class="tab" href="#la-campagne">
    <p>La campagne</p>
  </a>
</div>
